{% extends "base.html" %}
{% load static %}
{% block content %}


        <!--=====HERO AREA START=======-->

        <div class="common-hero">
          <div class="container">
            <div class="row align-items-center text-center">
              <div class="col-lg-6 m-auto">
                <div class="main-heading">
                  <h1>About Us</h1>
                    <div class="space16"></div>
                    <span class="span"><img src="{% static 'assets/img/icons/span1.png' %}" alt=""> <a href="{% url 'accounts:index' %}">Home</a> <span class="arrow"><i class="fa-regular fa-angle-right"></i></span> About</span>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!--=====HERO AREA END=======-->

        <section class="hero10-benar">
            <div class="container-fluid p-0">
              <div class="row">
                <div class="col-12">
                  <div class="marquee-wrap marquee-wrap-inner">
                    <div class="marquee-text">
    
                      <div class="brand-single-box">
                      <img src="{% static 'assets/img/logo/slider-logo1.png' %}" alt="">
                    </div>
    
                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo2.png' %}" alt="">
                    </div>
    
                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo3.png' %}" alt="">
                    </div>
    
                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo4.png' %}" alt="">
                    </div>
    
                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo5.png' %}" alt="">
                    </div>
    
                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo6.png' %}" alt="">
                    </div>
    
                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo7.png' %}" alt="">
                    </div>

                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo1.png' %}" alt="">
                    </div>

                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo2.png' %}" alt="">
                    </div>

                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo3.png' %}" alt="">
                    </div>

                      <div class="brand-single-box">
                          <img src="{% static 'assets/img/logo/slider-logo4.png' %}" alt="">
                      </div>
      
                      <div class="brand-single-box">
                          <img src="{% static 'assets/img/logo/slider-logo5.png' %}" alt="">
                      </div>
      
                      <div class="brand-single-box">
                          <img src="{% static 'assets/img/logo/slider-logo6.png' %}" alt="">
                      </div>
      
                      <div class="brand-single-box">
                          <img src="assets/img/logo/slider-logo7.png" alt="">
                      </div>

                      <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo4.png' %}" alt="">
                    </div>
    
                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo5.png' %}" alt="">
                    </div>
    
                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo6.png' %}" alt="">
                    </div>
    
                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo7.png' %}" alt="">
                    </div>

                    <div class="brand-single-box">
                        <img src="{% static 'assets/img/logo/slider-logo1.png' %}" alt="">
                      </div>
      
                      <div class="brand-single-box">
                          <img src="{% static 'assets/img/logo/slider-logo2.png' %}" alt="">
                      </div>
      
                      <div class="brand-single-box">
                          <img src="{% static 'assets/img/logo/slider-logo3.png' %}" alt="">
                      </div>
      
                      <div class="brand-single-box">
                          <img src="{% static 'assets/img/logo/slider-logo4.png' %}" alt="">
                      </div>
      
                      <div class="brand-single-box">
                          <img src="{% static 'assets/img/logo/slider-logo5.png' %}" alt="">
                      </div>
      
                      <div class="brand-single-box">
                          <img src="{% static 'assets/img/logo/slider-logo6.png' %}" alt="">
                      </div>
      
                      <div class="brand-single-box">
                          <img src="{% static 'assets/img/logo/slider-logo7.png' %}" alt="">
                      </div>

    
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="slider-after"></div>
            </div>
          </section>


        <!--=====ABOUT AREA START =======-->

        <div class="about2 about-page-sec sp">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="about2-images">
                  <div class="image1">
                    {% comment %} <img src="{% static 'assets/img/about/about2-img1.png' %}" alt=""> {% endcomment %}
                  </div>
                  <div class="image2">
                    <img src="{% static 'assets/img/about/about_img1.png' %}" alt="" style="height:450px;">
                  </div>
                  <div class="image3">
                    {% comment %} <img src="{% static 'assets/img/about/about2-img3.png' %}" alt=""> {% endcomment %}
                  </div>
                  <div class="counter-box">
                    <h3>5+</h3>
                    <p>Years Of <br> Experience</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="heading1">
                  <span class="span"><img src="{% static 'assets/img/icons/sudoicon1.ico' %}" alt="" style="width: 20px; height: 18px;"> About Us</span>
                  <h2>Empower Your Business With Our Comprehensive IT Solutions</h2>
                  <div class="space16"></div>
                  <p>Welcome to <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span>, your premier destination for cutting-edge technology solutions and IT services. At <span style="font-family:alice;font-weight:bold">Sudo Techlabs</span>, we are passionate about harnessing the power of technology to empower businesses alike.</p>

                  <div class="space10"></div>

                  <div class="porgress-line-all">
                    <div class="progress-line">
                      <div class="heading">
                        <h6>IT Consulting</h6>
                        <p>80%</p>
                      </div>
                      <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="progress-line">
                      <div class="heading">
                        <h6>Custom Software Development</h6>
                        <p>75%</p>
                      </div>
                      <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="progress-line">
                      <div class="heading">
                        <h6>Cyber Security Solutions</h6>
                        <p>80%</p>
                      </div>
                      <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="progress-line">
                      <div class="heading">
                        <h6>AI & Machine Learning</h6>
                        <p>75%</p>
                      </div>
                      <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="progress-line">
                      <div class="heading">
                        <h6>Mobile App Development</h6>
                        <p>85%</p>
                      </div>
                      <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="progress-line">
                      <div class="heading">
                        <h6>Cyber Security</h6>
                        <p>90%</p>
                      </div>
                      <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>



                  

                  <div class="space30"></div>
                  <div class="button">
                    <a class="btn btn-primary" href="{% url "accounts:contact" %}">Get A Quote <span><i class="fa-solid fa-arrow-right"></i></span></a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <!--=====ABOUT AREA END=======-->

        <!--=====SOLUTION AREA START=======-->

        <div class="solution sp bg1">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="heading1">
                  <span class="span"><img src="{% static 'assets/img/icons/span1.png' %}" alt=""> Our Mission</span>
                  <h2>Driving Digital Excellence Through Innovation</h2>
                  <div class="space16"></div>
                  <p>At <span style="font-family:alice;font-weight:bold">Sudo Techlabs</span>, our mission is to empower businesses with smart, future-ready technology solutions that fuel innovation, enhance efficiency, and create sustainable growth. We are committed to being a strategic technology partner, helping clients navigate digital challenges with confidence.</p>
                  <div class="space16"></div>
                  <p>We don’t just build software — we build value, trust, and transformation. With a deep focus on quality, innovation, and long-term impact, we aim to shape a better digital future for every business we serve.</p>

                  <div class="space30"></div>
                  <div class="">
                    <a class="btn btn-primary" href="#">Get A Quote <span><i class="fa-solid fa-arrow-right"></i></span></a>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="solution-images">
                  <div class="image1">
                    {% comment %} <img src="{% static 'assets/img/others/solution-img1.png' %}" alt=""> {% endcomment %}
                  </div>
                  <div class="image2">
                    <img src="{% static 'assets/img/others/bg_img2.jpg' %}" alt="">
                  </div>
                  <div class="image3">
                    {% comment %} <img src="{% static 'assets/img/others/solution-img3.png' %}" alt=""> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--=====SOLUTION AREA END=======-->

                <!--=====SOLUTION AREA START=======-->

                <div class="solution about-solution sp">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-lg-6">
                        <div class="images">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="image">
                                <img src="{% static 'assets/img/about/Img_1.jpg' %}" alt="">
                              </div>
                            </div>

                            <div class="col-lg-6">
                              <div class="space30"></div>
                              <div class="image">
                                <img src="{% static 'assets/img/about/Img_2.avif' %}" alt="" style="height:280px;">
                              </div>
                            </div>

                            <div class="col-lg-6">
                              <div class="space30"></div>
                              <div class="image">
                                <img src="{% static 'assets/img/about/Img_3.jpg' %}" alt="" style="height:280px;">
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="heading1">
                          <span class="span"><img src="{% static 'assets/img/icons/span1.png' %}" alt=""> Our Vision</span>
                          <h2>Pioneering the Future of Digital Innovation</h2>
                          <div class="space16"></div>
                          <p>At <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span>, our vision is to become a global leader in digital transformation, enabling businesses to thrive through innovation, technology, and intelligent solutions. We imagine a future where every organization—regardless of size—has the power to compete, evolve, and succeed in the digital era, supported by agile, secure, and scalable tech ecosystems.</p>

                          <div class="item-box">
                            <div class="icon">
                              <div class="">
                                <img src="{% static 'assets/img/icons/about-solution-iocn1.png' %}" alt="" style="width:900px;">
                              </div>
                            </div>
                            <div class="">
                              <h3><a href="#">Network Infrastructure Solutions</a></h3>
                              <div class="space10"></div>
                              <p>We design and implement robust, secure, and scalable network infrastructures that ensure seamless connectivity and uninterrupted business operations — empowering organizations to operate with confidence and efficiency.</p>
                            </div>
                          </div>
        
                          <div class="item-box">
                            <div class="icon">
                              <div class="">
                                <img src="{% static 'assets/img/icons/about-solution-iocn2.png' %}" alt="" style="width:550px;">
                              </div>
                            </div>
                            <div class="">
                              <h3><a href="#">Managed It Services</a></h3>
                              <div class="space10"></div>
                              <p>Let your team focus on what matters most — while we handle your IT environment with proactive monitoring, support, and optimization. Our managed services ensure reliability, reduce downtime, and support long-term growth.</p>
                            </div>
                          </div>
        
                          <div class="space30"></div>
                          <div class="">
                            <a class="btn btn-primary" href="#">Get A Quote <span><i class="fa-solid fa-arrow-right"></i></span></a>
                          </div>
                        </div>
                      </div>
        
                    </div>
                  </div>
                </div>
        
                <!--=====SOLUTION AREA END=======-->

        <!--=====TAB START=======-->

          <div class="about-tabs sp bg1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 text-center m-auto">
                        <div class="heading1">
                          <span class="span"><img src="{% static 'assets/img/icons/span1.png' %}" alt=""> Our Story</span>
                          <h2>Our Company Story</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 m-auto text-center">
                        <ul class="nav nav-pills tab-header-all mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="about-tab1-tab" data-bs-toggle="pill" data-bs-target="#about-tab1" type="button" role="tab" aria-controls="about-tab1" aria-selected="true">2019</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="about-tab2-tab" data-bs-toggle="pill" data-bs-target="#about-tab2" type="button" role="tab" aria-controls="about-tab2" aria-selected="false">2020</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="about-tab3-tab" data-bs-toggle="pill" data-bs-target="#about-tab3" type="button" role="tab" aria-controls="about-tab3" aria-selected="false">2021</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="about-tab4-tab" data-bs-toggle="pill" data-bs-target="#about-tab4" type="button" role="tab" aria-controls="about-tab4" aria-selected="false">2022</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="about-tab5-tab" data-bs-toggle="pill" data-bs-target="#about-tab5" type="button" role="tab" aria-controls="about-tab5" aria-selected="false">2023</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="about-tab6-tab" data-bs-toggle="pill" data-bs-target="#about-tab6" type="button" role="tab" aria-controls="about-tab6" aria-selected="false">2024</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="about-tab7-tab" data-bs-toggle="pill" data-bs-target="#about-tab7" type="button" role="tab" aria-controls="about-tab7" aria-selected="false">2025</button>
                              </li>
                          </ul>
                    </div>
                </div>

                <div class="space60"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="about-tab1" role="tabpanel" aria-labelledby="about-tab1-tab">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="tab-content-box">
                                            <div class="heading1">
                                                <h5>2019 - A Legacy of Innovation</h5>
                                                <div class="space24"></div>
                                                <p><span class="text">Early Years:</span> In the early years, Steve Jobs recognized the growing importance of technology in business and set out to create a company that could help organizations leverage the power of digital innovation. With a small team of passionate individuals.</p>
                                                <div class="space16"></div>
                                                <p><span class="text">Expansion & Innovation:</span> As technology continued to evolve, so did <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span>. We expanded our service offerings to include a wide range of solutions, from cybersecurity and cloud computing to data analytics and artificial intelligence.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="image">
                                            <img src="{% static 'assets/img/about/about-tab-img.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="about-tab2" role="tabpanel" aria-labelledby="about-tab2-tab">
                              <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="tab-content-box">
                                        <div class="heading1">
                                            <h5>2020 - A Legacy of Innovation</h5>
                                            <div class="space24"></div>
                                            <p><span class="text">Early Years:</span> In the early years, Steve Jobs recognized the growing importance of technology in business and set out to create a company that could help organizations leverage the power of digital innovation. With a small team of passionate individuals.</p>
                                            <div class="space16"></div>
                                            <p><span class="text">Expansion & Innovation:</span> As technology continued to evolve, so did <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span>. We expanded our service offerings to include a wide range of solutions, from cybersecurity and cloud computing to data analytics and artificial intelligence.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="image">
                                        <img src="{% static 'assets/img/about/about-tab-img.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="about-tab3" role="tabpanel" aria-labelledby="about-tab3-tab">
                              <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="tab-content-box">
                                        <div class="heading1">
                                            <h5>2021 - A Legacy of Innovation</h5>
                                            <div class="space24"></div>
                                            <p><span class="text">Early Years:</span> In the early years, Steve Jobs recognized the growing importance of technology in business and set out to create a company that could help organizations leverage the power of digital innovation. With a small team of passionate individuals.</p>
                                            <div class="space16"></div>
                                            <p><span class="text">Expansion & Innovation:</span> As technology continued to evolve, so did <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span>. We expanded our service offerings to include a wide range of solutions, from cybersecurity and cloud computing to data analytics and artificial intelligence.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="image">
                                        <img src="{% static 'assets/img/about/about-tab-img.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="about-tab4" role="tabpanel" aria-labelledby="about-tab4-tab">
                              <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="tab-content-box">
                                        <div class="heading1">
                                            <h5>2022 - A Legacy of Innovation</h5>
                                            <div class="space24"></div>
                                            <p><span class="text">Early Years:</span> In the early years, Steve Jobs recognized the growing importance of technology in business and set out to create a company that could help organizations leverage the power of digital innovation. With a small team of passionate individuals.</p>
                                            <div class="space16"></div>
                                            <p><span class="text">Expansion & Innovation:</span> As technology continued to evolve, so did Sudo TechLabs. We expanded our service offerings to include a wide range of solutions, from cybersecurity and cloud computing to data analytics and artificial intelligence.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="image">
                                        <img src="{% static 'assets/img/about/about-tab-img.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="about-tab5" role="tabpanel" aria-labelledby="about-tab5-tab">
                              <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="tab-content-box">
                                        <div class="heading1">
                                            <h5>2023 - A Legacy of Innovation</h5>
                                            <div class="space24"></div>
                                            <p><span class="text">Early Years:</span> In the early years, Steve Jobs recognized the growing importance of technology in business and set out to create a company that could help organizations leverage the power of digital innovation. With a small team of passionate individuals.</p>
                                            <div class="space16"></div>
                                            <p><span class="text">Expansion & Innovation:</span> As technology continued to evolve, so did <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span>. We expanded our service offerings to include a wide range of solutions, from cybersecurity and cloud computing to data analytics and artificial intelligence.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="image">
                                        <img src="{% static 'assets/img/about/about-tab-img.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="about-tab6" role="tabpanel" aria-labelledby="about-tab6-tab">
                              <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="tab-content-box">
                                        <div class="heading1">
                                            <h5>2024 - A Legacy of Innovation</h5>
                                            <div class="space24"></div>
                                            <p><span class="text">Early Years:</span> In the early years, Steve Jobs recognized the growing importance of technology in business and set out to create a company that could help organizations leverage the power of digital innovation. With a small team of passionate individuals.</p>
                                            <div class="space16"></div>
                                            <p><span class="text">Expansion & Innovation:</span> As technology continued to evolve, so did <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span>. We expanded our service offerings to include a wide range of solutions, from cybersecurity and cloud computing to data analytics and artificial intelligence.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="image">
                                        <img src="{% static 'assets/img/about/about-tab-img.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="tab-pane fade" id="about-tab7" role="tabpanel" aria-labelledby="about-tab7-tab">
                              <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="tab-content-box">
                                        <div class="heading1">
                                            <h5>2025 - A Legacy of Innovation</h5>
                                            <div class="space24"></div>
                                            <p><span class="text">Early Years:</span> In the early years, Steve Jobs recognized the growing importance of technology in business and set out to create a company that could help organizations leverage the power of digital innovation. With a small team of passionate individuals.</p>
                                            <div class="space16"></div>
                                            <p><span class="text">Expansion & Innovation:</span> As technology continued to evolve, so did <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span>. We expanded our service offerings to include a wide range of solutions, from cybersecurity and cloud computing to data analytics and artificial intelligence.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="image">
                                        <img src="{% static 'assets/img/about/about-tab-img.png' %}" alt="">
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <!--=====TAB END=======-->

        <!--=====TESTIMONIAL AREA START=======-->

        <div class="testimonial2 about-page-tes sp">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 m-auto text-center">
                <div class="heading1">
                  <span class="span"><img src="{% static 'assets/img/icons/span1.png' %}" alt=""> Testimonials</span>
                  <h2>See What Our Customer Say’s</h2>
                </div>
              </div>
            </div>

            <div class="space60"></div>
            <div class="row">
              <div class="tes2-slider owl-carousel">
                <div class="single-slider">
                  <div class="icon">
                    <img src="{% static 'assets/img/icons/about-page-qute.png' %}" alt="">
                  </div>
                  <p class="pera">"I have been thoroughly impressed with the level of service and expertise provided by <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span>. Their team went above and beyond to understand our business needs and deliver a custom software solution. I highly recommend them to anyone looking for top-notch technology solutions."</p>

                  <div class="bottom-area">
                    <div class="author">
                      <a href="#">Arti Sharma</a>
                    </div>
                    <div class="reating">
                      <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star-half"></i></li>
                      </ul>
                      <p>(4.5)</p>
                    </div>
                  </div>
                </div>

                <div class="single-slider">
                  <div class="icon">
                    <img src="{% static 'assets/img/icons/about-page-qute.png' %}" alt="">
                  </div>
                  <p class="pera">"We approached <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span> with a complex IT problem, and they were able to provide an innovative solution that addressed our needs perfectly. Their team's creativity, technical prowess, and dedication to client satisfaction are truly commendable.”</p>

                  <div class="bottom-area">
                    <div class="author">
                      <a href="#">Mohit Prajapat</a>
                    </div>
                    <div class="reating">
                      <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <p>(4.5)</p>
                    </div>
                  </div>
                </div>


                <div class="single-slider">
                  <div class="icon">
                    <img src="{% static 'assets/img/icons/about-page-qute.png' %}" alt="">
                  </div>
                  <p class="pera">“<span style="font-family:alice;font-weight:bold">Sudo TechLabs</span> has been our go-to partner for IT support for several years now, and they have consistently delivered outstanding service. Their team is highly responsive, knowledgeable, reliable. Thanks to their expertise, we've been able to overcome various IT challenges focus growing business."</p>

                  <div class="bottom-area">
                    <div class="author">
                      <a href="#">Yashpal Yadav</a>
                    </div>
                    <div class="reating">
                      <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star-half"></i></li>
                      </ul>
                      <p>(4.5)</p>
                    </div>
                  </div>
                </div>

                <div class="single-slider">
                  <div class="icon">
                    <img src="{% static 'assets/img/icons/about-page-qute.png' %}" alt="">
                  </div>
                  <p class="pera">"I have been thoroughly impressed with the level of service and expertise provided by <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span>. Their team went above and beyond to understand our business needs and deliver a custom software solution. I highly recommend them to anyone looking for top-notch technology solutions."</p>

                  <div class="bottom-area">
                    <div class="author">
                      <a href="#">Jyoti Jaiswal</a>
                    </div>
                    <div class="reating">
                      <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star-half"></i></li>
                      </ul>
                      <p>(4.5)</p>
                    </div>
                  </div>
                </div>

                <div class="single-slider">
                  <div class="icon">
                    <img src="{% static 'assets/img/icons/about-page-qute.png' %}" alt="">
                  </div>
                  <p class="pera">"We approached <span style="font-family:alice;font-weight:bold">Sudo TechLabs</span> with a complex IT problem, and they were able to provide an innovative solution that addressed our needs perfectly. Their team's creativity, technical prowess, and dedication to client satisfaction are truly commendable.”</p>

                  <div class="bottom-area">
                    <div class="author">
                      <a href="#">Mohit Swami</a>
                    </div>
                    <div class="reating">
                      <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <p>(4.5)</p>
                    </div>
                  </div>
                </div>


                <div class="single-slider">
                  <div class="icon">
                    <img src="{% static 'assets/img/icons/about-page-qute.png' %}" alt="">
                  </div>
                  <p class="pera">“<span style="font-family:alice;font-weight:bold">Sudo TechLabs</span> has been our go-to partner for IT support for several years now, and they have consistently delivered outstanding service. Their team is highly responsive, knowledgeable, reliable. Thanks to their expertise, we've been able to overcome various IT challenges focus growing business."</p>

                  <div class="bottom-area">
                    <div class="author">
                      <a href="#">Rani Godara</a>
                    </div>
                    <div class="reating">
                      <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star-half"></i></li>
                      </ul>
                      <p>(4.5)</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!--=====TESTIMONIAL AREA END=======-->
        

                <!--=====TEAM AREA START=======-->

                <div class="team2 about-page-team sp bg1">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6 m-auto text-center">
                          <div class="heading1">
                            <span class="span"><img src="{% static 'assets/img/icons/span1.png' %}" alt=""> Our Team</span>
                            <h2>Meet With Our Expert Team</h2>
                          </div>
                        </div>
                      </div>
          
                      <div class="space30"></div>
                      <div class="row">
                        <div class="col-lg-3 col-md-6">
                          <div class="team-box">
                            <div class="image-area">
                              <div class="image">
                                <img src="{% static 'assets/img/team/ajitsingh.jpg' %}" alt="" style="height: 400px;">
                              </div>
                              <div class="icon-area">
                                <ul>
                                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                              </div>
                            </div>
          
                            <div class="space30"></div>
                              <div class="heading1">
                                <h4><a href="#">Ajit Singh</a></h4>
                                <div class="space10"></div>
                                <p>CEO & Founder</p>
                              </div>
                          </div>
                        </div>
          
                        <div class="col-lg-3 col-md-6">
                          <div class="team-box">
                            <div class="image-area">
                              <div class="image">
                                <img src="{% static 'assets/img/team/aakash1.jpg' %}" alt="" style="height: 400px;">
                              </div>
                              <div class="icon-area">
                                <ul>
                                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                              </div>
                            </div>
          
                            <div class="space30"></div>
                              <div class="heading1">
                                <h4><a href="#">Aakash Kumawat</a></h4>
                                <div class="space10"></div>
                                <p>Backend Developer</p>
                              </div>
          
                          </div>
                        </div>
          
          
                        <div class="col-lg-3 col-md-6">
                          <div class="team-box">
                            <div class="image-area">
                              <div class="image">
                                <img src="{% static 'assets/img/team/team2-img3.png' %}" alt="">
                              </div>
                              <div class="icon-area">
                                <ul>
                                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                              </div>
                            </div>
          
                            <div class="space30"></div>
                              <div class="heading1">
                                <h4><a href="#">Sarah Thompson </a></h4>
                                <div class="space10"></div>
                                <p>Head of Project Management</p>
                              </div>
          
                          </div>
                        </div>
          
                        <div class="col-lg-3 col-md-6">
                          <div class="team-box">
                            <div class="image-area">
                              <div class="image">
                                <img src="{% static 'assets/img/team/aadarsh1.jpg' %}" alt="" style="height: 400px;">
                              </div>
                              <div class="icon-area">
                                <ul>
                                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                              </div>
                            </div>
          
                            <div class="space30"></div>
                              <div class="heading1">
                                <h4><a href="#">Aadarsh Sharma</a></h4>
                                <div class="space10"></div>
                                <p>React Developer</p>
                              </div>
          
                          </div>
                        </div>
          
          
                      </div>
          
                    </div>
                  </div>
          
                  <!--=====TEAM AREA END=======-->

        <!--=====CTA AREA START=======-->

        <div class="cta">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <div class="heading1-w">
                  <h2>At <span style="font-family:alice;font-weight:bold">Sudo Techlabs</span> IT Solutions, We're Committed To Businesses</h2>
                  <div class="space16"></div>
                  <p>Take the first step towards achieving your business goals by contacting us today. Schedule a consultation with one of our IT specialists to discuss your objectives and explore how our innovative solutions can propel.</p>
                </div>
              </div>

              <div class="col-lg-5">
                <div class="buttons">
                  <a class="btn btn-secondary" href="service.html">Request a Consultation <span><i class="fa-solid fa-arrow-right"></i></span></a>
                  <a class="btn btn-primary" href="service.html">Explore Solution <span><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--=====CTA AREA END=======-->

 {% endblock %}